.cart-products {
    padding-top: 70px;
    padding-bottom: 70px;

    &__header {
        margin-bottom: 30px;
        font-size: 20px;
        text-transform: uppercase;
    }

    &__all-buy {
        margin-top: 40px;
        padding: 10px 15px;
        border-radius: 3px;
        background-color: #03a592;
        color: #fff;
    }
}